#define layout()
<!DOCTYPE html>
<html lang="zh-hans">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">

    <link rel="profile" href="http://gmpg.org/xfn/11"/>
    <link rel="pingback" href="https://www.islide.cc/xmlrpc.php"/>
    <link rel="shortcut icon" type="image/x-icon" href="">
    <link rel="apple-touch-icon" href=""/>
    <link rel="alternate" hreflang="zh-hans" href="https://www.islide.cc"/>

    <title>#(SEO_TITLE ?? (WEB_TITLE + '-' + WEB_SUBTITLE))</title>
    <meta name="description" content="#(SEO_DESCRIPTION)"/>
    <meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1"/>
    <link rel="canonical" href="https://www.islide.cc/"/>
    <meta property="og:locale" content="zh_CN"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="论文畅"/>
    <meta property="og:description" content="论文畅"/>
    <meta property="og:url" content="https://www.islide.cc/"/>
    <meta property="og:site_name" content="论文畅"/>

    <link rel='dns-prefetch' href='//www.islide.cc'/>
    <link rel="alternate" type="application/rss+xml" title="论文畅" href="https://www.islide.cc/feed"/>
    <link rel='stylesheet' id='wp-block-library-css'
          href='css/block-library/style.min.css?ver=5.3.2' type='text/css'
          media='all'/>
    <link rel='stylesheet' id='layerslider-css'
          href='plugins/LayerSlider/static/css/layerslider.css?ver=5.6.2'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='contact-form-7-css'
          href='plugins/contact-form-7/includes/css/styles.css?ver=5.1.6'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='smartideo_css-css'
          href='plugins/smartideo/static/smartideo.css?ver=2.7.0' type='text/css'
          media='screen'/>
    <link rel='stylesheet' id='default_style-css'
          href='core/bridge/style.css?ver=5.3.2' type='text/css' media='all'/>
    <link rel='stylesheet' id='qode_font_awesome-css'
          href='core/bridge/css/font-awesome/css/font-awesome.min.css?ver=5.3.2'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='qode_font_elegant-css'
          href='core/bridge/css/elegant-icons/style.min.css?ver=5.3.2'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='qode_linea_icons-css'
          href='core/bridge/css/linea-icons/style.css?ver=5.3.2' type='text/css'
          media='all'/>
    <link rel='stylesheet' id='qode_dripicons-css'
          href='core/bridge/css/dripicons/dripicons.css?ver=5.3.2' type='text/css'
          media='all'/>
    <link rel='stylesheet' id='stylesheet-css'
          href='core/bridge/css/stylesheet.min.css?ver=5.3.2' type='text/css'
          media='all'/>
    <style id='stylesheet-inline-css' type='text/css'>
        .page-id-15462.disabled_footer_top .footer_top_holder, .page-id-15462.disabled_footer_bottom .footer_bottom_holder {
            display: none;
        }
    </style>
    <link rel='stylesheet' id='qode_print-css'
          href='core/bridge/css/print.css?ver=5.3.2' type='text/css' media='all'/>
    <link rel='stylesheet' id='mac_stylesheet-css'
          href='core/bridge/css/mac_stylesheet.css?ver=5.3.2' type='text/css'
          media='all'/>
    <link rel='stylesheet' id='webkit-css'
          href='core/bridge/css/webkit_stylesheet.css?ver=5.3.2' type='text/css'
          media='all'/>
    <link rel='stylesheet' id='style_dynamic-css'
          href='core/bridge/css/style_dynamic.css?ver=1531386283' type='text/css'
          media='all'/>
    <link rel='stylesheet' id='responsive-css'
          href='core/bridge/css/responsive.min.css?ver=5.3.2' type='text/css'
          media='all'/>
    <link rel='stylesheet' id='style_dynamic_responsive-css'
          href='core/bridge/css/style_dynamic_responsive.css?ver=1531386283'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='js_composer_front-css'
          href='plugins/js_composer/assets/css/js_composer.min.css?ver=6.1'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='custom_css-css'
          href='core/bridge/css/custom_css.css?ver=1531386283' type='text/css'
          media='all'/>
    <link rel='stylesheet' id='childstyle-css'
          href='core/bridge-child/style.css?ver=5.3.2' type='text/css' media='all'/>
    <script type='text/javascript'
            src='plugins/LayerSlider/static/js/greensock.js?ver=1.11.8'></script>
    <script type='text/javascript' src='js/jquery/jquery.js?ver=1.12.4-wp'></script>
    <script type='text/javascript'
            src='/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var LS_Meta = {"v": "5.6.2"};
        /* ]]> */
    </script>
    <script type='text/javascript'
            src='plugins/LayerSlider/static/js/layerslider.kreaturamedia.jquery.js?ver=5.6.2'></script>
    <script type='text/javascript'
            src='plugins/LayerSlider/static/js/layerslider.transitions.js?ver=5.6.2'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var wpml_xdomain_data = {
            "css_selector": "wpml-ls-item",
            "ajax_url": "https:\/\/www.islide.cc\/wp-admin\/admin-ajax.php",
            "current_lang": "zh-hans"
        };
        /* ]]> */
    </script>
    <script type='text/javascript'
            src='plugins/sitepress-multilingual-cms/res/js/xdomain-data.js?ver=4.2.1'></script>
    <link rel="wlwmanifest" type="application/wlwmanifest+xml"
          href="https://www.islide.cc/wp-includes/wlwmanifest.xml"/>
    <link rel='shortlink' href='https://www.islide.cc/'/>
    <link rel="icon" href="https://www.islide.cc/wp-content/uploads/2016/06/cropped-islide-iconA（500）-32x32.png"
          sizes="32x32"/>
    <link rel="icon" href="https://www.islide.cc/wp-content/uploads/2016/06/cropped-islide-iconA（500）-192x192.png"
          sizes="192x192"/>
    <link rel="apple-touch-icon-precomposed"
          href="https://www.islide.cc/wp-content/uploads/2016/06/cropped-islide-iconA（500）-180x180.png"/>
    <meta name="msapplication-TileImage"
          content="https://www.islide.cc/wp-content/uploads/2016/06/cropped-islide-iconA（500）-270x270.png"/>
    <style type="text/css" data-type="vc_shortcodes-custom-css">
        .vc_custom_1479902480952 {
            padding-top: 0px !important;
        }

        .vc_custom_1558788006093 {
            margin-top: 20px !important;
        }

        .vc_custom_1479902480952 {
            padding-top: 0px !important;
        }

        .vc_custom_1517552670760 {
            margin-top: 20px !important;
        }

        .vc_custom_1479902480952 {
            padding-top: 0px !important;
        }

        .vc_custom_1517553331934 {
            margin-top: 20px !important;
        }

        .vc_custom_1558788118035 {
            margin-top: 0px !important;
            padding-top: 0px !important;
        }

        .vc_custom_1517541558808 {
            margin-top: 0px !important;
            padding-top: 0px !important;
        }
    </style>
    <noscript>
        <style>
            .wpb_animate_when_almost_visible {
                opacity: 1;
            }
        </style>
    </noscript>

    #@css?()
</head>

<body class="home page-template page-template-full_width page-template-full_width-php page page-id-15462  qode-title-hidden qode-child-theme-ver-1.0.0 qode-theme-ver-16.3 qode-theme-bridge wpb-js-composer js-comp-ver-6.1 vc_responsive"
      itemscope itemtype="http://schema.org/WebPage">

<div class="wrapper">
    <div class="wrapper_inner">
        <!-- Header Area -->
        <header class=" scroll_header_top_area  stick scrolled_not_transparent page_header">
            <div class="header_inner clearfix">
                <div class="header_top_bottom_holder">

                    <div class="header_bottom clearfix" style=''>
                        <div class="container">
                            <div class="container_inner clearfix">
                                <div class="header_inner_left">
                                    <div class="mobile_menu_button">
                                        <span><i class="qode_icon_font_awesome fa fa-bars "></i></span>
                                    </div>

                                    <!-- Logo Area -->
                                    <div class="logo_wrapper">
                                        <div class="q_logo">
                                            <a itemprop="url" href="https://www.islide.cc/">
                                                <img itemprop="image" class="normal"
                                                     src="https://www.islide.cc/wp-content/uploads/2017/11/web-logo.png"
                                                     alt="Logo"/> <img itemprop="image" class="light"
                                                                       src="https://www.islide.cc/wp-content/uploads/2018/04/web-logo-w.png"
                                                                       alt="Logo"/> <img itemprop="image" class="dark"
                                                                                         src="https://www.islide.cc/wp-content/uploads/2017/11/web-logo.png"
                                                                                         alt="Logo"/> <img
                                                    itemprop="image" class="sticky"
                                                    src="https://www.islide.cc/wp-content/uploads/2017/11/web-logo.png"
                                                    alt="Logo"/> <img itemprop="image" class="mobile"
                                                                      src="https://www.islide.cc/wp-content/uploads/2017/11/web-logo（m）.jpg"
                                                                      alt="Logo"/> </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="header_inner_right">
                                    <div class="side_menu_button_wrapper right">
                                        <div class="side_menu_button">
                                        </div>
                                    </div>
                                </div>

                                <!-- Menu Area -->
                                <nav class="main_menu drop_down right">
                                    <ul id="menu-top_menu" class="">
                                        #for(menu : MENUS)
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-15462 current_page_item narrow">
                                            <a href="#(menu.url ??)" class=" current "><i
                                                    class="menu_icon blank fa"></i><span>#(menu.text ?? "菜单")</span><span
                                                    class="plus"></span></a></li>
                                        #end
                                    </ul>
                                </nav>
                                <nav class="mobile_menu">
                                    <ul id="menu-top_menu-1" class="">
                                        #for(menu : MENUS)
                                        <li id="mobile-menu-item-16153"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-15462 current_page_item">
                                            <a href="#(menu.url ??)" class=" current "><span>#(menu.text ?? "菜单")</span></a><span
                                                class="mobile_arrow"><i class="fa fa-angle-right"></i><i
                                                class="fa fa-angle-down"></i></span></li>
                                        #end
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Back to top -->
        <a id="back_to_top" href="#">
        <span class="fa-stack">
            <i class="qode_icon_font_awesome fa fa-arrow-up "></i>        </span>
        </a>

        #@content()

        <!-- Footer Area -->
        <footer class="uncover">
            <div class="footer_inner clearfix">
                <div class="footer_top_holder">
                    <div class="footer_top">
                        <div class="container">
                            <div class="container_inner">
                                <div class="four_columns clearfix">
                                    <div class="column1 footer_col1">
                                        <div class="column_inner">
                                            <div id="text-16" class="widget widget_text">
                                                <h5>#option("footer.column1.title", "Title1")</h5>
                                                <div class="textwidget">
                                                    <p class="footer_text"><a href="">#option("footer.column1.link1",
                                                        "Link1")</a></p>
                                                    <p class="footer_text"><a href="">#option("footer.column1.link2",
                                                        "Link2")</a></p>
                                                    <p class="footer_text"><a href="">#option("footer.column1.link3",
                                                        "Link3")</a></p>
                                                    <p class="footer_text"><a href="">#option("footer.column1.link4",
                                                        "Link4")</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column2 footer_col2">
                                        <div class="column_inner">
                                            <div id="text-5" class="widget widget_text">
                                                <h5>#option("footer.column2.title", "Title2")</h5>
                                                <div class="textwidget">
                                                    <p class="footer_text"><a href="">#option("footer.column2.link1",
                                                        "Link1")</a></p>
                                                    <p class="footer_text"><a href="">#option("footer.column2.link2",
                                                        "Link2")</a></p>
                                                    <p class="footer_text"><a href="">#option("footer.column2.link3",
                                                        "Link3")</a></p>
                                                    <p class="footer_text"><a href="">#option("footer.column2.link4",
                                                        "Link4")</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column3 footer_col3">
                                        <div class="column_inner">
                                            <div id="text-7" class="widget widget_text">
                                                <h5>#option("footer.column3.title", "Title3")</h5>
                                                <div class="textwidget">
                                                    <p class="footer_text"><a href="">#option("footer.column3.link1",
                                                        "Link1")</a></p>
                                                    <p class="footer_text"><a href="">#option("footer.column3.link2",
                                                        "Link2")</a></p>
                                                    <p class="footer_text"><a href="">#option("footer.column3.link3",
                                                        "Link3")</a></p>
                                                    <p class="footer_text"><a href="">#option("footer.column3.link4",
                                                        "Link4")</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column4 footer_col4">
                                        <div class="column_inner">
                                            <div id="text-8" class="widget widget_text">
                                                <h5>#option("footer.column4.title", "Title4")</h5>
                                                <div class="textwidget">
                                                    <p class="footer_text"><a href="">#option("footer.column4.link1",
                                                        "Link1")</a></p>
                                                    <p class="footer_text"><a href="">#option("footer.column4.link2",
                                                        "Link2")</a></p>
                                                    <p class="footer_text"><a href="">#option("footer.column4.link3",
                                                        "Link3")</a></p>
                                                    <p class="footer_text"><a href="">#option("footer.column4.link4",
                                                        "Link4")</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="footer_bottom_holder">
                    <div style="background-color: #3d4751;height: 1px" class="footer_bottom_border in_grid"></div>
                    <div class="container">
                        <div class="container_inner">
                            <div class="two_columns_50_50 footer_bottom_columns clearfix">
                                <div class="column1 footer_bottom_column">
                                    <div class="column_inner">
                                        <div class="footer_bottom">
                                            <div class="textwidget">
                                                <span>© 2019-2020 #option("company.english", "Company Name"). 保留一切权利.  <br>#option("company.chinese", "公司名称")<br>#option("company.icp.record", "ICP备案号")  / <a
                                                        href="#option('company.police.record.link', '网安备案链接')"
                                                        target="_blank"
                                                        rel="noopener noreferrer">#option("company.police.record", "网安备案号")</a><span>
                                                </span></span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column2 footer_bottom_column">
                                    <div class="column_inner">
                                        <div class="footer_bottom">
                                            <h5 class="footer_text_title">知识产权顾问</h5>
                                            <div class="textwidget"><p><a href="https://www.islide.cc/privacy-policy/">隐私声明</a>
                                            </p>
                                                <p><a href="http://www.tahota.com" target="_blank"
                                                      rel="noopener noreferrer">知识产权顾问：泰和泰律师事务所</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>

<script type='text/javascript'
        src='plugins/contact-form-7/includes/js/scripts.js?ver=5.1.6'></script>
<script type='text/javascript'
        src='plugins/smartideo/static/smartideo.js?ver=2.7.0'></script>
<script type='text/javascript' src='js/jquery/ui/core.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='js/jquery/ui/widget.min.js?ver=1.11.4'></script>
<script type='text/javascript'
        src='js/jquery/ui/accordion.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='js/jquery/ui/position.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='js/jquery/ui/menu.min.js?ver=1.11.4'></script>
<script type='text/javascript'
        src='js/dist/vendor/wp-polyfill.min.js?ver=7.4.4'></script>
<script type='text/javascript'>
    ('fetch' in window) || document.write('<script src="js/dist/vendor/wp-polyfill-fetch.min.js?ver=3.0.0"></scr' + 'ipt>');
    (document.contains) || document.write('<script src="js/dist/vendor/wp-polyfill-node-contains.min.js?ver=3.26.0-0"></scr' + 'ipt>');
    (window.FormData && window.FormData.prototype.keys) || document.write('<script src="js/dist/vendor/wp-polyfill-formdata.min.js?ver=3.0.12"></scr' + 'ipt>');
    (Element.prototype.matches && Element.prototype.closest) || document.write('<script src="js/dist/vendor/wp-polyfill-element-closest.min.js?ver=2.0.2"></scr' + 'ipt>');
</script>
<script type='text/javascript' src='js/dist/dom-ready.min.js?ver=2.5.1'></script>
<script type='text/javascript' src='js/dist/a11y.min.js?ver=2.5.1'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var uiAutocompleteL10n = {
        "noResults": "\u672a\u627e\u5230\u7ed3\u679c\u3002",
        "oneResult": "\u627e\u52301\u4e2a\u7ed3\u679c\u3002\u4f7f\u7528\u4e0a\u4e0b\u65b9\u5411\u952e\u6765\u5bfc\u822a\u3002",
        "manyResults": "\u627e\u5230%d\u4e2a\u7ed3\u679c\u3002\u4f7f\u7528\u4e0a\u4e0b\u65b9\u5411\u952e\u6765\u5bfc\u822a\u3002",
        "itemSelected": "\u5df2\u9009\u62e9\u9879\u76ee\u3002"
    };
    /* ]]> */
</script>
<script type='text/javascript'
        src='js/jquery/ui/autocomplete.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='js/jquery/ui/button.min.js?ver=1.11.4'></script>
<script type='text/javascript'
        src='js/jquery/ui/datepicker.min.js?ver=1.11.4'></script>
<script type='text/javascript'>
    jQuery(document).ready(function (jQuery) {
        jQuery.datepicker.setDefaults({
            "closeText": "\u5173\u95ed",
            "currentText": "\u4eca\u5929",
            "monthNames": ["\u4e00\u6708", "\u4e8c\u6708", "\u4e09\u6708", "\u56db\u6708", "\u4e94\u6708", "\u516d\u6708", "\u4e03\u6708", "\u516b\u6708", "\u4e5d\u6708", "\u5341\u6708", "\u5341\u4e00\u6708", "\u5341\u4e8c\u6708"],
            "monthNamesShort": ["1\u6708", "2\u6708", "3\u6708", "4\u6708", "5\u6708", "6\u6708", "7\u6708", "8\u6708", "9\u6708", "10\u6708", "11\u6708", "12\u6708"],
            "nextText": "\u7ee7\u7eed",
            "prevText": "\u4e0a\u4e00\u4e2a",
            "dayNames": ["\u661f\u671f\u65e5", "\u661f\u671f\u4e00", "\u661f\u671f\u4e8c", "\u661f\u671f\u4e09", "\u661f\u671f\u56db", "\u661f\u671f\u4e94", "\u661f\u671f\u516d"],
            "dayNamesShort": ["\u5468\u65e5", "\u5468\u4e00", "\u5468\u4e8c", "\u5468\u4e09", "\u5468\u56db", "\u5468\u4e94", "\u5468\u516d"],
            "dayNamesMin": ["\u65e5", "\u4e00", "\u4e8c", "\u4e09", "\u56db", "\u4e94", "\u516d"],
            "dateFormat": "yy\u5e74mm\u6708d\u65e5",
            "firstDay": 1,
            "isRTL": false
        });
    });
</script>
<script type='text/javascript' src='js/jquery/ui/mouse.min.js?ver=1.11.4'></script>
<script type='text/javascript'
        src='js/jquery/ui/resizable.min.js?ver=1.11.4'></script>
<script type='text/javascript'
        src='js/jquery/ui/draggable.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='js/jquery/ui/dialog.min.js?ver=1.11.4'></script>
<script type='text/javascript'
        src='js/jquery/ui/droppable.min.js?ver=1.11.4'></script>
<script type='text/javascript'
        src='js/jquery/ui/progressbar.min.js?ver=1.11.4'></script>
<script type='text/javascript'
        src='js/jquery/ui/selectable.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='js/jquery/ui/sortable.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='js/jquery/ui/slider.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='js/jquery/ui/spinner.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='js/jquery/ui/tooltip.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='js/jquery/ui/tabs.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='js/jquery/ui/effect.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='js/jquery/ui/effect-blind.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='js/jquery/ui/effect-bounce.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='js/jquery/ui/effect-clip.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='js/jquery/ui/effect-drop.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='js/jquery/ui/effect-explode.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='js/jquery/ui/effect-fade.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='js/jquery/ui/effect-fold.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='js/jquery/ui/effect-highlight.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='js/jquery/ui/effect-pulsate.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='js/jquery/ui/effect-size.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='js/jquery/ui/effect-scale.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='js/jquery/ui/effect-shake.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='js/jquery/ui/effect-slide.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='js/jquery/ui/effect-transfer.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='core/bridge/js/plugins.js?ver=5.3.2'></script>
<script type='text/javascript' src='core/bridge/js/plugins/jquery.carouFredSel-6.2.1.min.js?ver=5.3.2'></script>
<script type='text/javascript' src='core/bridge/js/plugins/lemmon-slider.min.js?ver=5.3.2'></script>
<script type='text/javascript' src='core/bridge/js/plugins/jquery.fullPage.min.js?ver=5.3.2'></script>
<script type='text/javascript' src='core/bridge/js/plugins/jquery.mousewheel.min.js?ver=5.3.2'></script>
<script type='text/javascript' src='core/bridge/js/plugins/jquery.touchSwipe.min.js?ver=5.3.2'></script>
<script type='text/javascript'
        src='plugins/js_composer/assets/lib/bower/isotope/dist/isotope.pkgd.min.js?ver=6.1'></script>
<script type='text/javascript' src='core/bridge/js/plugins/packery-mode.pkgd.min.js?ver=5.3.2'></script>
<script type='text/javascript' src='core/bridge/js/plugins/jquery.stretch.js?ver=5.3.2'></script>
<script type='text/javascript' src='core/bridge/js/plugins/imagesloaded.js?ver=5.3.2'></script>
<script type='text/javascript' src='core/bridge/js/default_dynamic.php?ver=5.3.2'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var QodeAdminAjax = {"ajaxurl": "https:\/\/www.islide.cc\/wp-admin\/admin-ajax.php"};
    var qodeGlobalVars = {"vars": {"qodeAddingToCartLabel": "Adding to Cart..."}};
    /* ]]> */
</script>
<script type='text/javascript' src='core/bridge/js/default.min.js?ver=5.3.2'></script>
<script type='text/javascript' src='core/bridge/js/custom_js.php?ver=5.3.2'></script>
<script type='text/javascript' src='js/comment-reply.min.js?ver=5.3.2'></script>
<script type='text/javascript' src='plugins/js_composer/assets/js/dist/js_composer_front.min.js?ver=6.1'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var qodeLike = {"ajaxurl": "https:\/\/www.islide.cc\/wp-admin\/admin-ajax.php"};
    /* ]]> */
</script>
<script type='text/javascript' src='core/bridge/js/plugins/qode-like.min.js?ver=5.3.2'></script>
<script type='text/javascript' src='js/wp-embed.min.js?ver=5.3.2'></script>

#@script?()
</body>
</html>
#end